// docs/.vuepress/styles/index.styl: 将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级。
h1
    display: flex
    align-items: flex-end
.theme-default-content:not(.custom), .page-nav
    max-width: 900px!important
